// Specific CSS for your home-page

.light-background {
  background-color: $mint-cream;
  background-size: cover;
  position: relative;
  width: 100%;
  border-radius: 2%;
  padding: 5%;
}

.titre-section {
  margin: 5%;
}


.Projets {
  margin-top: 5%;
}
