// Specific CSS for your home-page

.light-background {
  background-color: $mint-cream;
  background-size: cover;
  position: relative;
  width: 100%;
  border-radius: 2%;
  padding: 5%;
}

.titre-section {
  margin: 5%;
  text-align: center;
  width: 100%;
}

.soustitre {
  margin: auto;
}


.Projets {
  margin-top: 5%;
  padding-top: 3%;
}


// ECOCONCEPTION

.ecoconception {
  margin: 0% 10% 4% 10%;
  text-align: justify;
  text-position: center;
}
