


<!-- COMPÉTENCES -->

<div class="container Competences light-background">
      <div class="titre-section">
        <h2>COMPÉTENCES</h2>
      </div>
     <br>

<div id="skills">
 <div class="w3-container">
  <p> - Développement Web / Web Design - </p>
    <br>

    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:90%">HTML5/CSS3</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:70%">Ruby</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:60%">JavaScript/JQuery</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:70%">PostgreSQL</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:100%">WordPress</div>
    </div>

    <br>
    <p>- Frameworks -</p>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:80%">Rails</div>
    </div>

   <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:90%">Boostrap</div>
    </div>

    <br>
    <p>- Design - </p>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:100%">UX Design</div>
    </div>

    <br>
    <div class="w3-light-grey w3-round-xlarge">
      <div class="w3-container purple w3-round-xlarge" style="width:100%">Prototyping</div>
    </div>

  </div>


  </div>
</div>
