
    <div class="container light-background">
      <div class="titre-section">
        <h2>CONTACT</h2>
      </div>

      <section >
        <form action="https://formspree.io/f/xjvaoraq"  method="POST">
         <label>
            <input type="text" name="name" placeholder="NOM">
          </label>
          <label>
            <input type="text" name="_replyto">
          </label>
          <label>
            <textarea name="message"></textarea>
          </label>
          <label>
            <input  id="submit" type="submit" placeholder="ENVOYER">
          </label>
        </form>
      </section>
    </div>
