

    <div class="container Projets light-background">
      <div class="table-title">
        <ul class="titre-section">
          <!-- <li class="logo-projets">
            <svg width="37" height="43" viewBox="0 0 37 43" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.73438 34.9375H0.578125C0.578125 38.0953 2.775 40.6484 5.49219 40.6484H36.4219V5.71094H6.07031V0.671875H5.49219C2.775 0.671875 0.578125 3.225 0.578125 6.38281V34.9375H1.73438C1.73438 32.5187 3.41094 30.5703 5.49219 30.5703H6.07031V7.05469H35.2656V39.3047H5.49219C3.41094 39.3047 1.73438 37.3563 1.73438 34.9375ZM4.91406 29.2602C3.64219 29.4281 2.51484 30.1672 1.73438 31.2422V6.38281C1.73438 4.19922 3.12188 2.38516 4.91406 2.08281V29.2602Z" fill="#3A003A"/>
              <path d="M29.7734 9.74219H26.3047V32.418L28.0391 36.4492L29.7734 32.418V9.74219ZM28.6172 11.0859V14.7812H27.4609V11.0859H28.6172ZM28.0391 33.4258L27.4609 32.082V16.125H28.6172V32.082L28.0391 33.4258Z" fill="#3A003A"/>
              <path d="M12.1406 25.8672V27.2109H14.4531L13.0078 36.5164L14.1352 36.7516L15.6094 27.2109H19.0781L20.5523 36.7516L21.6797 36.5164L20.2344 27.2109H22.5469V25.8672H20.032L19.3672 21.4328C20.2633 20.6937 20.8125 19.4508 20.8125 18.1406C20.8125 16.1586 19.5695 14.4789 17.9219 14.1766V9.74219H16.7656V14.1766C15.118 14.5125 13.875 16.1586 13.875 18.1406C13.875 19.4508 14.4242 20.6602 15.3203 21.4328L14.6555 25.8672H12.1406ZM16.2453 20.4922C15.4938 20.0219 15.0312 19.1148 15.0312 18.1406C15.0312 16.6625 16.0719 15.4531 17.3438 15.4531C18.6156 15.4531 19.6562 16.6625 19.6562 18.1406C19.6562 19.1148 19.1937 20.0219 18.4422 20.4922L18.0664 20.7273L18.8758 25.8672H15.8117L16.5922 20.7273L16.2453 20.4922Z" fill="#3A003A"/>
            </svg>
           </li> -->
          <!--  <li> -->
            <h2 class="soustitre">PORTFOLIO</h2>
      <!--      </li> -->
         </ul>
        </div>

    <!-- <p>- réalisations -</p> -->
     <div class="cards">
        <a href="https://www.pait-transition-alimentaire.fr/" target="_blank">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dlfxss2hf/image/upload/v1602769577/PAIT_vectoris%C3%A9_qfhvfo_qcd7bm.png)">
            <p>PAIT-transition-alimentaire</p>
          </div>
        </a>

        <a href="https://mrlouiscollection.com/" target="_blank">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dlfxss2hf/image/upload/v1602769295/MrLouis_bevjzv.jpg)">
            <p>Mr. Louis</p>
          </div>
        </a>


     <!--  <br>
       <p>- projets Le Wagon -</p>
      <br> -->

        <a href="https://github.com/MariePrandstetter/seven_spaces" target="_blank">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dlfxss2hf/image/upload/v1602769306/seven_spaces_meqw1m.jpg)">
             <p>Seven Spaces (Projet Wagon)</p>
          </div>
        </a>

        <a href="https://github.com/AdrienPeres/LudoTech" target="_blank">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dlfxss2hf/image/upload/v1602769289/ludotech_oj9p5e.jpg)">
             <p>LudoTech (Projet Wagon)</p>
          </div>
        </a>
      </div>
    </div>
