.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;

}

#earth-logo {
  width: 100%;
}

.banner h1 {
  margin: 0;
  color: $midnight;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#presentation {
  background: $midnight;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  opacity: 1;
  text-align: center;
  padding: 30px 20px 30px 20px;
  border: $violet;
  border-radius: 10px;
  margin : 20px;
}

.banner p {
justify-content: space-around;
}


// //  test à virer

// .home-banner {
//   background-image: url('TODO: A picture URL from unsplash.com!');
//   background-size: cover;
//   height: 100vh;
//   color: #eee;
//   text-align: center;
//   padding-top: 40vh;
// }



